body {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(106, 106, 134);
}

.weatherForm {
  margin: 20px;
}

.cityInput {
  padding: 10px;
  font-size: 2rem;
  font-weight: bold;
  border: 2px solid white;
  border-radius: 2rem;
  margin: 10px;
}

.hi {
  position: relative;
  padding: 10px 20px;
  font-weight: bold;
  font-size: 2rem;
  background-color: hsl(229, 42%, 66%);
  border: 2px solid white;
  color: white;
  border-radius: 1.5rem;
  cursor: pointer;
  z-index: 0;
  overflow: hidden;
}
.hi::before {
  content: "";
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  background-color: hsl(229, 74%, 65%);
  border-radius: 1.5rem;
  z-index: -1;
  transform: scaleX(0);
  transform-origin: left;
}

.hi:hover::before {
  transform: scaleX(1);
  transition: transform 0.3s ease-in-out;
}

.hi:hover {
  filter: drop-shadow(0 0 10px #fffdef);
  transition: all 0.1s ease;
  transform: scale(1.05);
}

.card {
  background: linear-gradient(180deg, rgb(59, 131, 255), rgb(255, 200, 97));
  padding: 50px;
  box-shadow: 2px 2px 5px rgb(195, 195, 195);
  border-radius: 1rem;
  min-width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 5rem;
  border: 2px solid white;
}

h1 {
  margin-top: 0;
  margin-bottom: 25px;
}

p {
  font-size: 1.5rem;
  margin: 5px 0;
}

.cityDisplay,
.tempDisplay {
  font-size: 3.5rem;
  color: white;
  margin-bottom: 25px;
}

.humidityDisplay {
  font-weight: bold;
  margin-bottom: 25px;
  font-size: 2rem;
  color: rgb(220, 231, 245);
}

.weatherDisplay {
  margin: 0;
  font-size: 7.5rem;
}

.errorDisplay {
  font-size: 2.5rem;
  color: rgb(182, 63, 63);
  font-style: italic;
}

.descripitionDisplay {
  font-weight: bold;
  font-size: 2rem;
  color: rgb(220, 231, 245);
}

.weatherEmoji {
  font-size: 5rem;
  margin-bottom: 20px;
}

.unitSwitcher {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

@property --angle {
  syntax: "<angle>";
  inherits: false;
  initial-value: 0deg;
}
.unitButton {
  padding: 10px 20px;
  font-size: 1.5rem;
  margin: 0 10px;
  border: none;
  border-radius: 1rem;
  background: linear-gradient(135deg, hsl(229, 74%, 65%), hsl(228, 100%, 90%));
  color: white;
  cursor: pointer;
  font-weight: bold;
  position: relative;
}

.unitButton:hover {
  filter: drop-shadow(0 0 10px #fffdef);
  transition: all 0.1s ease;
  transform: scale(1.05);
}

.unitButton:hover::after,
.unitButton:hover::before {
  animation-play-state: paused;
  background-image: linear-gradient(
    135deg,
    hsl(229, 74%, 65%),
    hsl(228, 100%, 90%)
  );
}

.unitButton::after,
.unitButton::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  background-image: conic-gradient(
    from var(--angle),
    transparent,
    hsl(229, 78%, 60%),
    hsl(228, 43%, 53%),
    hsl(228, 89%, 76%),
    hsl(229, 78%, 60%)
  );
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  z-index: -1;
  border-radius: 1rem;
  padding: 2px;
  animation: 1.5s linear infinite spin;
}

.unitButton::before {
  filter: blur(1.5rem);
  opacity: 0.5;
}

@keyframes spin {
  from {
    --angle: 0deg;
  }
  to {
    --angle: 360deg;
  }
}

button.unitButton.isPressed {
  filter: drop-shadow(0 0 10px #62ec75);
  transition: all 0.1s ease;
  transform: scale(1.1);
  animation-play-state: paused;
  border: 2px solid #fff;
}

.unitButton.isPressed::after,
.unitButton.isPressed::before {
  animation: none !important;
  background-image: linear-gradient(
    135deg,
    hsl(229, 74%, 65%),
    hsl(228, 100%, 90%)
  );
}

@media screen and (max-width: 750px) {
  .cityInput {
    font-size: 1.5rem;
  }
  .hi {
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 600px) {
  .cityInput {
    font-size: 1.2rem;
  }
  .hi {
    font-size: 1.2rem;
  }

  .unitButton {
    font-size: 1rem;
  }
}

@media screen and (max-width: 500px) {
  .cityInput,
  .hi {
    font-size: 1rem;
  }

  .unitButton {
    font-size: 0.7;
    margin: 0.2rem 0.5rem;
  }
  .card {
    padding: 20px;
  }

  @media screen and (max-width: 450px) {
    .cityInput {
      font-size: 0.8rem;
    }
    .hi {
      font-size: 0.8rem;
    }

    .unitButton {
      font-size: 1.2rem;
      padding: 5px 10px;
    }

    .card p {
      font-size: 2.5rem;
    }
  }

  @media screen and (max-width: 382px) {
    .weatherForm {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    .cityInput,
    .hi {
      width: 70vw;
    }

    .unitButton {
      width: 25vw;
      font-size: clamp(0.8rem, 4vw, 2.5rem);
      overflow: hidden;
    }

    #cardDisplay {
      width: 90vw;
      padding: 20px;
      margin: 0 auto;
      box-sizing: border-box;
      font-size: 0.5rem;
      text-align: center;
    }
  }
  @media (hover: none) {
    .hi:hover,
    .unitButton:hover {
      transform: none;
      filter: none;
    }

    .unitButton:hover::before,
    .unitButton:hover::after {
      animation-play-state: running;
    }
  }
}

@media screen and (max-width: 750px) {
  .unitButton:hover,
  button.unitButton.isPressed {
    filter: none;
    transform: scale(1.1);
  }

  .unitButton::before,
  .unitButton::after,
  .unitButton.isPressed::before,
  .unitButton.isPressed::after {
    display: none;
  }
}

.noselect {
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}
